<form [FormGroup] = "form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            #username="ngModel"
            id="username" 
            type="text" 
            class="form-control">
            <div *ngIf ="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.error.required">Username is Required </div>
            <div *ngIf="username.error.minLength"> Username should be min {{username.errors.minlength.requiredLength }} characters. </div>
            <div *ngIf="username.error.cannotContainSpace">Username can't contain spaces</div>
    
        </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
